header {
    text-align: center;
    margin-left: 2%;
    padding: 15px;
}

h2{
    font-size: 50px;
}

span{
    font-size: 17px;
}

.section-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    padding: 30px;
    gap: 150px; 
}

.icon {
    display: block;
    width: 110px;
    height: 80px;
    margin: 0 auto; 
    margin-bottom: 10px;
}

.titulo {
    margin: 20px 0;
}

.parrafo {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}