.logo {
    position: absolute;
    bottom: 82%;
    width: 300px;
    height: 170px;
}

ul {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    padding: 50px;
    margin: 0;
    width: 500px; 
    margin-bottom: 740px;
    margin-left: 678px;
}

li {
    margin: 0 15px; 
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: black !important;
    text-decoration: none;
}

.bar{
    position: absolute;
    bottom: 85%;
    left: 93%;
    width: 80px;
}